:host{
    display: flex;
    flex-direction: column;
}
:host ::ng-deep app-history{
    max-height: 100vh;
    overflow: auto;
}
:host ::ng-deep app-bank-detail{
    max-height: 100vh;
    overflow: auto;
}
:host ::ng-deep app-payment{
    max-height: 100vh;
    overflow: auto;
} 
:host ::ng-deep app-register{
    max-height: 100vh;
    overflow: auto;
}